# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
BrainGrid
BrainGrid-cuda
braingrid
Tests
tests
*.exe
*.out
*.app

# CMake Directories
CMakeFiles
cmake-build-debug

# CMake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cbp

# Ignore IDE, editor, and system files
.DS_Store
.*.sw?
.idea/
.vs/

# Google Test
Testing/lib/
